


@media only screen and (min-width: 1375px) {

  model-viewer {
      padding: 2%;
      width: 360px;
      height: 360px;
    }
  
  }
      
    


h2 {
    font-size: 3em !important;
    font-weight: 600 !important;
    color:#333333 !important;
    text-align: center;
    letter-spacing: 2px;
    padding: 5%;
}


.pagination {
  float: right;
  display: block;
  padding-top: 6%;
}
